Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties: 
      GroupDescription: adapted by tom
      SecurityGroupIngress:
      - SourceSecurityGroupId: sg-0ec44730b66ded3b9 
        IpProtocol: tcp
        FromPort: 80
        ToPort: 80
      - SourceSecurityGroupId: sg-0ec44730b66ded3b9 
        IpProtocol: tcp
        FromPort: 443
        ToPort: 443
      SecurityGroupEgress:
      - DestinationSecurityGroupId: sg-0ec44730b66ded3b9 
        IpProtocol: -1
        FromPort: -1
        ToPort: -1
